
/* contains styles specific to individual components */
/* Jump to's :
header
square
Menu
Tables
Media Q's
*/

.topDiv {
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center; 
  height: 100vh;
  width: auto;
  /* margin: 0;
  padding: 0; */
}


.headers  p {
  display: inline;
}

.headers p:first-child::after {
  content: ", ";
}

.headers {
  background-color: var(--primary-black);
  color: var(--primary-white);
  padding: 90px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}

.headers h1 {
  font-size: 40px;
  font-weight: 800;
  margin: 0;
  padding-left: 95px;
  position: relative;
  z-index: 1;
  width: fit-content;
}

.headers h3 {
  font-size: 16px;
  margin: 0;
  color:var(--accent-yellow);
  padding-left: 320px;
  width: fit-content;
}

.square {
  position: relative;
  z-index: 0;
  width: fit-content;
}

.square::before {
  content: '';
  position: absolute;
  top: -60px;
  left: 40px;
  width: 200px;
  height: 150px;
  border: 4px solid var(--border-color);
  z-index: 0;
  
}

/* Menu */

.drawer {
  top: 0;
  left: 0px;
  width: auto ;
  padding-right:20px;
  height: 100vh;
  background-color: var(--accent-ivory);
  transition: transform 0.3s ease;
  transform: translateX(-100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  float: left;
  
}

.drawer.drawer-open {
  transform: translateX(0%);

}

.drawer .app-container {
  padding:20px;
}

.drawer .icons svg {
  font-size: 25px;
}

.menu-button {
  border: none;
  background-color: var(--accent-ivory);
  padding: 10;
  outline: none;
}

.closeMenu {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  padding: 10;

}

.closeMenu:focus {
  outline: none;
}

.openMenu {
  background-color: transparent;
    border: none;
}
 /* Tables */
 .container {
   display: flex;
 }

 .centered {
   text-align: center;
 }

 .error-container {
  display: flex;
    justify-content: center;
   background-color: var(--accent-yellow);
   border-radius: 100px;
 }

 .error {
   color: black;
   text-align: center;
 }

 table {
   border-collapse: collapse;
   width: 100%;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   padding: 5px;
 }

 table th {
   font-weight: bold;
   padding: 5px;
 }

 table td {
   border: 1px solid var(--accent-timberWolf);
   padding: 10px;
 }

 table {
   border-collapse: collapse;
   width: 100%;
 }

 /* table headings */
 th {
   font-weight: bold;
 }

 /* table data */
 td {
   border: 2px solid var(--primary-black);
   padding: 10px;
 }

 .table-container {
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
   margin-left: 250px;
    display: flex;
 }

 h2 {
   text-align: center;
   font-weight: bold;
 }

 /* Media Q's */

@media only screen and (max-width: 360px) {

  .headers h1 {
    padding-left: 2px; 
  }

  .headers p {
    margin:0;
  }

  .headers h3 {
    font-size: 15px;
    padding-left: 5px;
    padding-top: 10px;
    
  }
 
   .square::before {
      content: '';
      position: absolute;
      top: -15px;
      left: -15px;
      width: 160px;
      height: 160px;
      border: 4px solid var(--border-color);
      z-index: 0;

      .breakPoint {
          width: 100%;
        }

        .drawer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's on top of other content */
}

.drawer-inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white; /* Background color of the menu */
  padding: 20px;
  border-radius: 10px; /* Rounded corners */
}
  
    }
        .drawer {
          top: 20vh;
          width:min-content
        }
        .inputs-form {
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 100%;
  margin-bottom: 10px; /* Adjust as needed */
}

.icons {
    font-size: 0;
  }

.yellow-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adjust as needed */
}

.yellow-button button {
  width: 48%; /* Adjust as needed */
}


}

 @media only screen and (min-width: 361px) and (max-width: 768px) {
 .headers p {
  display: inline;
}

.headers p:first-child::after {
  content: ", ";
}
  .headers h1 {
    font-size: 30px;
  }
     .headers h3 {
       font-size: 14px;
      padding-left: 27vh;
     }
  
     .square::before {
       width: 20vw;
       height: 15vh;
} 

.inputs-form {
  display: flex;
  flex-direction: column;
}

.inputs {
  width: 100%;
  margin-bottom: 10px;
}

.icons {
    font-size: 0; 
  }
}

.yellow-button {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px; /* Adjust as needed */
}

.yellow-button button {
  width: 48%; /* Adjust as needed */
}
